@media screen and (max-width: 568px) {
	.nav a{
		font-size: 10px;
	}
	
	.nav a:nth-of-type(1){
		margin-left: 0px;
		margin-right: 0px;
		padding: 0;
	}
	
	h1{
		font-size: 60px;
	}
}

body {
	background-image: url("/images/testWP.png");
	background-size: 100%;
	background-attachment:fixed;
	font-weight: bold;
}

header{
	margin-bottom: 15px;
	vertical-align: middle;
}

h1{
	color: #36B030;
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
}

header, footer {
	text-align: center;
	
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.nav a{
	color: #36B030;
}

.nav a.active{
	color: green;
}

.home, .gen_details, .score, .away {
	padding-top: 2%;
	padding-bottom: 2%;
}

.box {
	border-radius: 5px;
	background-color: white;
	padding: 2%;
	opacity: .95;
}

.game {
	border-bottom: 1px solid gray;
}

.filter {
	margin: 2%;
}

section img {
    border: 1px solid gray;
}

input {
	margin: auto;
}

.matchData{
	margin-bottom: 0px;
}

.gen_details p:nth-of-type(odd){
	color: #36B030;
}

.gen_details p:nth-of-type(even){
	color: #555555;
}